@media only screen and (min-width: 992px) {
    body {
        background-color: rgb(237, 243, 242);
    }
    .pages {
        width: 1340px;
        height: 50px;
        background-color: black;
        display: flex;
    }
    .pages a {
        text-decoration: none;
    }
    #sections {
        width: 100px;
        height: 50px;
        text-align: center;
        font-size: large;
        color: white;
        overflow: hidden;
    }
    #sections:hover {
        background-color: rgb(210, 210, 241);
        color: black;
    }
    .active {
        background-color: #04AA6D;
    }
    .container {
        width: 800px;
        height: 350px;
        margin-left: 275px;
        overflow: hidden;
        word-wrap: break-word;
        margin-top: 20px;
        border-radius: 20px;
    }
    h2 {
        margin-left: 275px;
        color: blue;
    }
    #aboutMeText {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .skills {
        width: 800px;
        height: 100px;
        margin-left: 275px;
        display: flex;
    }
    img {
        width: 100px;
        height: 100px;
        margin-left: 20px;
        border-radius: 20px;
    }
    h4 {
        margin-left: 275px;
        font-weight: normal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}